@font-face {
  /* Primary name used in the app plus a likely local name fallback */
  font-family: 'MomoTrustDisplay';
  src: local('MomoTrustDisplay'), local('Momo Trust Display'),
    url('./assets/fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'MomoTrustDisplay', sans-serif !important;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

code {
  font-family: 'MomoTrustDisplay', monospace;
}